.backlog-container {
    background-color: #ffffff;
}

.side-drawer-panel {
    background-color: #333333;
}

.slide-out-img {
    margin: 20 0 30 12;
}

.menu-container {
    margin-left: 15;
    text-align: left;
}

.list-container {
    height: 100%;
}

.btn-add-wrapper {
    vertical-align: middle;
    height: 60;
}

.btn-add {
    vertical-align: middle;
    height: 100%;
    background-color: #555a97;
    border-color: #555a97;
    border-width: 1;
    color: white;
}
