<GridLayout rows="*" class="pt-item-details-container">

    <RadDataForm #itemDetailsDataForm [source]="itemForm" (propertyCommitted)="onPropertyCommitted($event)">
        <TKEntityProperty tkDataFormProperty name="title" displayName="Title" index="1" hintText="Title">
            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="#4b5833" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Title can't be empty."></TKNonEmptyValidator>
        </TKEntityProperty>


    </RadDataForm>

</GridLayout>
